body{
    background:#f5f5f5;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    color: #464646;
    overflow: auto;
}
/* Cabecera*/
.contenedor_cabecera{
    display: flex;
    width: 100%;
    justify-content: center;
}
.contenedor_logo_links{
    display: flex;
    width: 79%;
    height: 88px;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    line-height: 18.78px;
}
.contenedor_logo{
    display: flex;
    align-items: center;
    gap: 8px;
}
.nombre_logo{
    font-weight: 700; 
}
.contenedor_links{
    display: flex;
    gap: 32px;
}
.link{
    font-weight: 500;
}
.link_email{
    font-weight: 700;
}

/* Principal*/

.contenedor_principal{
    display: flex;
    width: 100%;
    justify-content:center;
    flex-direction: column;
    align-items: center;
}
/* Heroe*/
.contenedor_heroe{
    display: flex;
    width: 79%;
    height: 368px;
    justify-content: space-between;
}
.contenedor_presentacion_formacion_redes{
    display: flex;
    width: 66%;
    height: 368px;
    gap: 24px;
    flex-direction: column;
    justify-content: center;
}

.titulo_presentacion{
    font-weight: 700;
    font-size: 35px;
    line-height: 61.05px;
}
.parrafo_formacion{
    font-weight: 400;
    font-size: 22px;
    line-height: 25.83px;
}
.contenedor_redes{
    display: flex;
    height: 24px;
    width: 62%;
    gap: 32px;
}
.contenedor_redes_sociales{
    display: flex;
    gap: 4px;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 18.78px;

}
.contenedor_foto_perfil{
    width: 368px;
    height: 368px;
    border-radius: 50%;
    overflow: hidden;
}

/* Acerca de mi */

.contenedor_acerca_de_mi{
    display: flex;
    width: 100%;
    height:383px;
    gap: 10px;
    background: #eaf2fd;
    justify-content: center;
    align-items: center;
}
.contenedor_titulo_parrafo_acera_de_mi{
    display: flex;
    width: 79%;
    height: 255px;
    gap: 16px;
    flex-direction: column;
}

.titulo_sobre_mi{
    font-weight: 700;
    font-size: 32px;
    line-height: 37.57px;
}
.parrafo_sobre_mi{
    width: 66%;
    height: 255px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.78px;  
    text-align: justify;  
}



/* Skills hobbies formacion*/

.contenedor_skills_hobbies_formacion{
    display: flex;
    width: 100%;
    height: 1245px;
    gap:88px;
    flex-direction: column;
    align-items: center;

}
/* Skills hobbies */

.contenedor_skills_hobbies{
    display: flex;
    width: 79%;
    height: 244px;
    gap: 32px;
    flex-direction: column;
    align-items: center;
    margin-top: 25px; 
}
.titulo_skills_hobbies_formacion{
    font-weight: 700;
    font-size: 32px;
    line-height: 37.57px;   
    text-align: center; 
}
.contenedor_lista_programas_pasatiempos{
    display: flex;
    width: 79%;
    height: 174px;
    gap: 16px;
    justify-content: center;
}
.contenedor_programas_pasatiempos{
    display: flex;
    width: 176px;
    height: 174px;
    gap: 8px;
    background: #ffffff;
    flex-direction: column;
    justify-content: flex-end;
}
.icono_programa_pasatiempo{
    width: 24px;
    height: 24px;
}
.titulo_programa_pasatiempo{
    font-weight: 700;
    font-size: 16px;
    line-height: 18.78px;
}

/*Formacion*/
.contenedor_formacion{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 581px;
    gap: 32px;
    align-items: center;
    background: #eaf2fd;

}
.titulo_skills_hobbies_formacion{
    display: flex;
    margin-top: 25px;
}

.contenedor_lista_formacion_academica{
    display: flex;
    width: 79%;
    height: 247px;
    gap: 16px;
    justify-content: center;
}
.contenedor_logo_formacion{
    display: flex;
    width: 368px;
    height: 286px;
    gap: 10px;
    background: #ffffff;
    justify-content: center;
    align-items: center;
}

.logo_formacion_uni{
    width:190px ;
    height:250px ;
}
.logo_formacion_alura{
    width:190px ;
    height:130px ;
}
.titulo_formacion{
    font-weight: 700;
    font-size: 22px;
    line-height: 25.83px;
}
.parrafo_formacion{
    font-weight: 500;
    font-size: 16px;
    line-height: 18.78px;
}

/* Experiencia profesional*/

.contenedor_experiencia{
    display: flex;
    width: 79%;
    height: 500px;
    gap: 32px;
    flex-direction: column;
    align-items: center;
}
.titulo_experiencia_profesional{
    font-weight: 700;
    font-size: 32px;
    line-height: 37.57px;
    margin-top: 15px;
}
.contenedor_proyectos{
    display: flex;
    width: 100%;
    height: 1816px;
    gap: 64px;
}
/*proyecto 1 y su repositorio */
.contenedor_proyecto1_repositorio{
    display: flex;
    width:100%;
    height: 406px;
    gap: 16px;
    justify-content: center;
    align-items: center;
}
/* Proyecto1*/
.contenedor_proyecto1{
    display: flex;
    width: 752px;
    height: 406px; 
}
.contenedor_repositorio{
    display: flex;
    width:368px;
    height: 112px;  
    flex-direction: column;  
    justify-content: center;
    gap: 8px;
}
.titulo_encriptador_de_texto{
    font-weight: 700;
    font-size: 22px;
    line-height: 25.83px;
}
.parrafo_challenge{
    font-weight: 500;
    font-size: 16px;
    line-height: 18.78px;
}
.contenedor_btn_repositorio{
    display: flex;    
    width: 250px;
    justify-content: space-between;
}
.btn_repositório{
    color: #2a7ae4;
    border: 1px #2a7ae4 solid;
    width: 116px;
    height: 51px;
}
.btn_ver_demo{
    background: #2a7ae4;
    color: #ffffff;
    width: 116px;
    height: 51px;

}
/* Pie de Pagina */

.contenedor_pie_pagina{
    display: flex;
    width: 100%;
    height: 890px;
    flex-direction: column;
}
.contenedor_rodapie{
    display: flex;
    width: 100%;
    height: 788px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #eaf2fd;
}
.contenedor_imagen_telefono_contacto{
    display: flex;
    width: 79%;
    height: 660px;
    gap: 16px;
    justify-content: center;
    align-items: center;
}
.imagen_telefono{
    width: 464px;
    height: 593px;
}
.contenedor_contacto{
    display: flex;
    width: 58%;
    height: 593px;
    flex-direction: column;
    justify-content: space-between
}
.contenedor_titulo_parrafo_contacto{
    display: flex;
    width: 100%;
    height: 84px;
    gap: 8px;
    flex-direction: column;

}
.titulo_contacto{
    font-weight: 700;
    font-size: 32px;
    line-height: 37.57px;
}
.parrafo_contactarme{
    font-weight: 500;
    font-size: 16px;
    line-height: 18.78px;
}
.contenedor_input_textarea_contacto{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 397px;
    gap: 32px;
}
.input_nombre_email_asunto{
    width: 100%;
    height: 56px;
    gap: 8px;
    border-radius: 4px;
}
.textarea_mensaje{
    width: 100%;
    height: 133px;
    border-radius: 4px;
    resize: none;
}
.enviar_mensaje{
    width: 144px;
    height: 51px;
    gap: 10px;
    background: #2a7ae4;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.78px;
    color: #ffffff;

}
.contenedor_desarrollo_ano{
    display: flex;
    width: 100%;
    height: 102px;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff;
}
.desarrollo_ano{
    font-weight: 500;
    font-size: 16px;
    line-height: 18.78px;
}

@media(max-width:1050px){
    /* skills hobbies formacion*/
  
    /* Experiencia profesional*/
    .contenedor_experiencia{
        width: 100%;
    }
    .titulo_experiencia_profesional{
        margin-top: 55px;
        margin-bottom: 55px;
    }
  
    .contenedor_proyecto1_repositorio{
        flex-direction: column;
        align-items: flex-start;
    }
    .contenedor_proyecto1{
        width: 90%;
        height: 406px;
        margin-left: 5%;
    }
    .icono_codigo_secreto{
        width: 100%;
    }
    .contenedor_repositorio{
        margin-left: 5%;
    }

}


@media(max-width:1080px){
    /* Cabecera*/
    .link{
        display: none;
    }
    /* Heroe */
    .contenedor_heroe{
        align-items: center;
        width: 76.8%;
        height: 210px;
    }
    .titulo_presentacion{
        font-weight: 700;
        font-size: 22px;
        line-height: 25.83px;
        text-align: justify;
    }
    .parrafo_formacion{
        font-weight: 400;
        font-size: 16px;
        line-height: 18.78px;
    }
    .contenedor_foto_perfil{
        width: 146px;
        height: 146px;
        border-radius: 50%;
        overflow: hidden;
    }

    /* Acerca de mi*/
    .contenedor_acerca_de_mi{

    }
    .parrafo_sobre_mi{
        width: 100%;
    }

    /*skills Hobbies */

   .contenedor_skills_hobbies_formacion{
    height: 1600px;
    gap: 20px;
   }
   .contenedor_skills_hobbies{
    height: 480px;
   }
   .contenedor_lista_programas_pasatiempos{
    flex-wrap: wrap;
   }


    /* Rodapie */

    .imagen_telefono{
        display: none;
    }


    .contenedor_contacto{
        width: 100%;
    }

    
}

@media(max-width:793px){

    /*skills hobbies formacion */
    .contenedor_lista_programas_pasatiempos{
        width: 100%;
    }


}
@media(max-width:768px){

    /* Heroe */
    .titulo_presentacion{
        font-size: 28px;
    }
    .contenedor_redes{
        gap: 16px;
    }
    /* skills hobbies*/
    .contenedor_skills_hobbies_formacion{
        width: 100%;
        height: 1400px;

    }
    .contenedor_lista_programas_pasatiempos{
        height: 800px;
    }
    .contenedor_formacion{
        height: 340px;
    }
    /*experiencia */
    .contenedor_experiencia{
        height: 660px;
    }
    .contenedor_logo_formacion{
        width:224px;
        height: 169px;
    }
    .logo_formacion_uni{
        height: 150px;
        width: 100px;
    }
    .titulo_formacion{
        font-weight: 700;
        font-size: 16px;
        line-height: 18.78px;

    }
    .parrafo_formacion{
        font-weight: 500;
        font-size: 14px;
        line-height: 16.44px;

    }
    .logo_formacion_alura{
        width: 70px;
        height: 48px;
    }



}
@media(max-width:360px){

}